body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #202020;
}

.container {
	width: 100%;
	max-width: 616px;
	margin: 20px auto;
	position: relative;
}

.panel {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	color: #fff;
	margin-bottom: 30px;
	padding: 20px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.panel__title {
	width: 100%;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 30px;
}

.panel__result {
	padding: 12px 15px;
	margin: 0 10px;
	border: 1px solid #ccc;
}

/* .panel__result span {
	margin-left: 10px;
} */
.panel__result-now span {
	color: darkorange;
}

.panel__result-best span {
	color: chartreuse;
}


.snakegame {
	width: 600px;
	height: 450px;
	margin: auto;
	display: block;
	background-color: #ccc;
	border: 8px solid #e4671f;
}


.rules {
	width: 50%;
	color: #8b8a8a;
	font-size: 12px;
	line-height: 20px;
	position: absolute;
	top: 170px;
	left: 110%;
	z-index: 1;
	background-color: #161616;
	padding: 30px 20px;
}

.rules b {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
}

.rules ol {
	padding-left: 15px;
}

.rules li {
	margin-bottom: 10px;
}

.attention {
	width: 600px;
	height: 450px;
	background-color: #1616168c;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 177px;
	margin: auto;
	z-index: 10;
	animation: fadeIn forwards 0.7s;
}

.attention__title {
	width: 330px;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1e1e1e;
	color: #db2828;
	font-size: 26px;
	font-family: system-ui;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 4px;
	margin-top: 90px;
	margin-bottom: 120px;
}

.attention__bttn {
	width: 300px;
	height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a8b0a;
    color: #fff;
    border: none;
	font-size: 22px;
    line-height: 0.5;
    font-family: system-ui;
	border-radius: 4px;
    margin: 0;
    padding: 0;
	cursor: pointer;
    animation: pulse infinite 2s;
	transition: background-color 0.6s;
}
.attention__bttn:hover {
	background-color: #066906;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
	  -webkit-transform: scaleX(1);
	  -moz-transform: scaleX(1);
		-o-transform: scaleX(1);
		   transform: scaleX(1); }
	50% {
	  -webkit-transform: scale3d(1.05, 1.05, 1.05);
	  -moz-transform: scale3d(1.05, 1.05, 1.05);
		   transform: scale3d(1.05, 1.05, 1.05); }
	to {
	  -webkit-transform: scaleX(1);
	  -moz-transform: scaleX(1);
		-o-transform: scaleX(1);
		   transform: scaleX(1); } }
  
  .pulse {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	  -o-animation-name: pulse;
		 animation-name: pulse; }


.victory {
	width: 290px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
	background-color: #0a8b0a;
	border: 3px solid #0a8b0a;
	border-radius: 3px;
	position: absolute;
	left: -330px;
	top: 180px;
	z-index: 10;
    animation: pulse infinite 2s;
}

.victory__title {
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.victory__btn {
	width: 240px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ebe72b;
	border-radius: 3px;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.6s;
}

.victory__btn:hover {
	background-color: #fcf964;
}